<template name="User_Footer">
  <footer>
    <div class="footer">
      <div class="ui container middle aligned centered grid">
        <div class="ui column">
          <div class="ui row" style="padding-bottom: 15px">
            <p class="footer-text">  VENTURE | Do what you like with the people you like. </p>
          </div>
          <div class="ui row">
            <p class="footer-text-second"> DEVELOPERS | Camelia & Christianne & Iao Seng </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>