<template name="User_Footer">
  <footer>
    <div class="footer">
      <div class="ui container middle aligned centered grid">
        <div class="ui column">
          <div class="ui row" style="padding-bottom: 5px">
            <p class="footer-text">VENTURE | Activities and Events for UHM Students</p>
          </div>
          <div class="ui row">
            <p class="footer-text-second"><a href="https://venturers.github.io/" style="color: white">https://venturers.github.io/</a></p>
          </div>
          <div class="ui row">
            <p class="footer-text-second">Camelia Lai | Christianne Izumigawa | Iao Seng Sio</p>
          </div>
          <div class="ui row">
            <p class="footer-text-second">University of  Hawaii | Information and Computer Sciences | 2017</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>