<template name="User_Header">
  <div id="header-menu" class="ui borderless inverted black menu">
    <div class="ui container">
      <div class="item"><h1>Venture</h1></div>
      <a class="{{isActiveRoute "Search_Page"}} item" href="{{pathFor "Search_Page" username=routeUserName}}">Find Events</a>
      <a class="{{isActiveRoute "Search_Friends_Page"}} item" href="{{pathFor "Search_Friends_Page" username=routeUserName}}">Find Friends</a>
      <a class="{{isActiveRoute "Profile_Page"}} item" href="{{pathFor "Profile_Page" username=routeUserName}}">Your Profile</a>
      <div class="right aligned item">{{> Cas_Login }}</div>
    </div>
  </div>
</template>