.middle-align {
  height: 100%;
}

.dashboard-main {
  background: url("https://cdn.suwalls.com/wallpapers/beaches/palm-tree-silhouettes-in-the-sunset-28462-1920x1080.jpg") no-repeat center;
  background-size: cover;
  min-height: 500px;
}

.dashboard-page-header {
  height: 100px;
}

.dashboard-head-text {
  font-size: 48px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.dashboard-section {
  padding: 30px;
}