.middle-align {
  height: 100%;
}

.profile-main{
  background: url('https://www.walldevil.com/wallpapers/a83/sunset-beach-sea-sand.jpg') no-repeat center;
  background-size: cover;
  height: 100%;
}

.profile-head-blank {
  height: 140px;
}

.events-area {
  background-color: black;
  margin-top: 50px;
  padding-bottom: 50px;
  height: 400px;
}

/*.footer {*/
  /*background-color: #FEAF66;*/
  /*height: 100px;*/
/*}*/

/*.footer-text {*/
  /*color: white;*/
  /*font-size: 14px;*/
  /*text-align: center;*/
  /*margin-top: 20px;*/
/*}*/

.profile-data-form {
  margin-bottom: 50px;
}

.event-header-text {
  font-size: 32px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

