.public-profile-main {
  background: url('https://www.walldevil.com/wallpapers/a83/sunset-beach-sea-sand.jpg') no-repeat center;
  background-size: cover;
  height: 100%
}

.profile-head-blank {
  height: 180px;
}

#profile-header {
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  box-shadow: none;
}

.title {
  font-size: 60px;
}

.larger {
  font-size: 18px;
}

.ui.text.container.segment {
  margin-bottom: 30px;
}