<template name="Event_Card">
  <div class="ui card">
    <div class="image">
      {{#if event.picture}}
        <img src={{ event.picture }}>
      {{else}}
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png">
      {{/if}}
    </div>
    <div class="content">
      <a class="header">{{ event.name }}</a>
      <div class="meta">
        <a>{{ event.location }}</a>
      </div>
      <div class="description">
        {{ event.description }}
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        {{ event.date }} at {{ time event }}
      </span>
      <span>
        <i class="user icon"></i>
        {{ peopleGoing event }} going
      </span>
    </div>
    <div class="ui bottom attached button">
      <i class="add icon"></i>
      Add Event
    </div>
  </div>
</template>