<template name="Event_Card">
  <div class="ui card">
    <a class="image" href="{{pathFor "Event_Page" username=routeUserName _id=event._id}}">
      {{#if event.picture}}
        <img src={{event.picture}}>
      {{else}}
        <img src="http://coreyuniform.com/media/images/event.png">
      {{/if}}
    </a>
    <div class="content">
      <a class="{{isActiveRoute "Event_Page"}} header" href="{{pathFor "Event_Page" username=routeUserName _id=event._id}}">{{event.name}}</a>
      <div class="meta">
        {{ event.location }}
      </div>
      <div class="description">
        {{ event.description }}
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        {{ event.date }}{{#if hasDateAndTime event}} at {{/if}}{{ time event }}
      </span>
      <span>
        <i class="user icon"></i>
        {{ peopleGoing event }} going
      </span>
    </div>
    <div class="ui bottom attached button">
      <i class="add icon"></i>
      Add Event
    </div>
  </div>
</template>