<template name="Friend_Card">
  <div class="ui card">
    <div class="image">
      <img src={{ profile.picture }}>
    </div>
    <div class="content">
      <div class="header">
        {{ profile.firstName }} {{ profile.lastName }}
      </div>
      {{#if profile.age}}
      <div class="meta">
        <a>Age: {{ profile.age }}</a>
      </div>
      {{/if}}
      <div class="description">
        {{ profile.bio }}
      </div>
    </div>
    <div class="extra content">
      <span>
        <i class="user icon"></i>
        {{ profile.friends }} friends
      </span>
    </div>
    <div class="ui bottom attached button">
      <i class="add icon"></i>
      Add Friend
    </div>
  </div>
</template>