.event-head {
  background: url('http://wallpoper.com/images/00/38/67/91/sunset-beach_00386791.jpg') no-repeat center;
  background-size: cover;
  height: 200px;
  color: white;
  font-size: 35px;
}

.event-image {
  height: 300px;
  width: 450px;
  margin-top: 20px;
  margin-bottom: 20px;
}