.event-head {
  background: url('http://img08.deviantart.net/f882/i/2015/004/3/e/hawaii_sunset_stock_low_angle_by_leeorr_stock-d8cm6ag.jpg') no-repeat center;
  background-size: cover;
  height: 200px;
  color: white;
  font-size: 35px;
}