.middle-align {
  height: 100%;
}

.larger {
  font-size: 18px;
}

.event-main {
  background: url('http://wallpoper.com/images/00/38/67/91/sunset-beach_00386791.jpg') no-repeat center;
  background-size: cover;
  height: 100%;
}

.event-head {
  height: 140px;
  margin: 0;
}

.event-head-text {
  font-size: 48px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}