.middle-align {
  height: 100%;
}

.search-header-main {
  background: url("http://blog.gmedical.com/Portals/61098/images/australia%20surf%20sunset%20123rf.jpg") no-repeat center;
  background-size: cover;
  height: 320px;
}

.search-header-text-main {
  color: white;
  text-align: center;
  font-size: 36px;
  padding: 20px;
}

.search-header-text-secondary {
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 10px;
}

.results-area {
  background-color: black;
  padding-bottom: 50px;
  height: 500px;
}

.event-header-text {
  font-size: 32px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/*.footer {*/
  /*background-color: #FEAF66;*/
  /*height: 100px;*/
/*}*/

/*.footer-text {*/
  /*color: white;*/
  /*font-size: 14px;*/
  /*text-align: center;*/
/*}*/