.middle-align {
  height: 100%;
}

.hidden {
  display: none;
}

.search-header-main {
  background: url("http://blog.gmedical.com/Portals/61098/images/australia%20surf%20sunset%20123rf.jpg") no-repeat center;
  background-size: cover;
  height: 700px;
}

.search-header-text-main {
  color: white;
  text-align: center;
  font-size: 36px;
  padding: 20px;
}

.search-header-text-secondary {
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 10px;
}

.event-header-text {
  font-size: 32px;
  color: white;
}

.results {
  overflow: auto;
  max-height: 600px;
}